div h3 {
  color: red
}

div:has(h4) {
  background-color: green;
}

/* Questo elenco è equivalente a usare :is() come nella riga 22 */
div h3,
div h4,
div h2,
header h3,
header h4,
header h2,
nav h3,
nav h4,
nav h2 {
  font-size: 3rem;
}

:is(div, header, nav) :is(h3, h4, h5) {
  font-size: 3rem;
}

/* 
:is() 
:where()
:not()
*/